alias dot='cd ~/dotfiles'
alias rc='clear && source ~/.zshrc'
alias c='clear'
alias jx='journalctl -xe'
alias j='journalctl'
alias mr='sudo nano /etc/pacman.d/mirrorlist'
alias lg='sudo nano /etc/locale.gen'
alias h='nano /etc/hostname'
alias fs='sudo nano /etc/fstab'
alias r='source ~/.zshrc'
alias z='cd ~/dotfiles/zsh'
alias killnode='killall node'
alias www='cd /var/www'


# Applications
alias a='atom .'
alias c.='code'
alias s='subl3 .'
alias wm='sudo wifi-menu wlp4s0'
alias sf='screenfetch'
alias bs='browser-sync start --server --files "**/*.*"'

alias ncm='ncmpcpp'
alias apache='sudo systemctl start httpd'
alias w='curl -4 http://wttr.in/Opole'
alias droid="/opt/android-sdk/tools/android avd"
alias hosts='sudo atom /etc/hosts'
alias redis='(redis-server &); redis-commander'


# History
function hist() { if [ -z "$*" ]; then history 1; else history 1 | egrep "$@"; fi; }
alias histclear='echo "" > ~/.histfile & exec $SHELL -l'

# Create react app aliases
alias react='create-react-app'

# React native aliases
alias rns='react-native start'
alias rna='react-native run-android'
