[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://drive.google.com/drive/my-drive
Icon=chrome-lkdnjjllhbbhgjfojnheoooeabjimbka-Default
StartupWMClass=crx_lkdnjjllhbbhgjfojnheoooeabjimbka
