[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Keep
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://keep.google.com/
Icon=chrome-hcfcmgpnmpinpidjdgejehjchlbglpde-Default
StartupWMClass=crx_hcfcmgpnmpinpidjdgejehjchlbglpde
