[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pocket
Exec=/opt/google/chrome/google-chrome --app=https://getpocket.com/
Icon=chrome-njiiijbpclaamaefoehhammkbgailifo-Default
StartupWMClass=crx_njiiijbpclaamaefoehhammkbgailifo
